@page "/guardians"
@using EBye.Models

<h3>Guardians</h3>

<table class="table">
	<thead>

	</thead>
	<tbody>
		@foreach (var guardian in GuardiansList)
		{
			<tr>
				<td>@guardian.FullName</td>
				<td>@(string.IsNullOrEmpty(guardian.Phone) ? guardian.Email : guardian.Phone)</td>
				<td>@(guardian.ConfirmedDeath ? "Ded" : "Still kickin")</td>
			</tr>
		}
	</tbody>
</table>

@code {
	public List<Guardian> GuardiansList;

	protected override async Task OnInitializedAsync()
	{
		GuardiansList = new List<Guardian>();

		GuardiansList.AddRange(new List<Guardian>
		{ new Guardian { FullName = "Silvia Budei", Email = "silvia.sexy@mail.com", ConfirmedDeath = false },
		 new Guardian { FullName = "Eliss Navidad", Email = "futpedragos@mail.com", ConfirmedDeath = false },
		 new Guardian { FullName = "Penelope", Phone = "0751147852", ConfirmedDeath = true }});
	}

}
